/* .menu {
  margin-left: 10px;
  margin-right: 10px;
}

.menu-list a {
  padding: .5em .75em;
}

.menu-label {
  color: #4a4a4a;
  margin-top: 1em;
}

.menu-list a:hover {
  background-color: rgb(255, 255, 255);
  color: #4a4a4a!important;
} */